flows (3) (1).json
[{"id":"e4eca54c.efd4f8","type":"tab","label":"ChatBot_Essentials","disabled":false,"info":""},{"id":"393eee4d.ef5292","type":"ui_form","z":"e4eca54c.efd4f8","name":"","label":"","group":"c7d4ba9c.dc9618","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["9d56c0f8.8f451"]]},{"id":"9d56c0f8.8f451","type":"function","z":"e4eca54c.efd4f8","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["a1c6c80b.bba288","4cd3ce9a.ccc73"]]},{"id":"a1c6c80b.bba288","type":"watson-conversation-v1","z":"e4eca54c.efd4f8","name":"","workspaceid":"73eda892-3075-4004-8c76-6c84b7a87b1f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0146b37b-5077-41d7-8b72-022250956554","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["d3b95c8d.fadf","34989210.dc706e"]]},{"id":"34989210.dc706e","type":"function","z":"e4eca54c.efd4f8","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["d3b95c8d.fadf","d53ad064.619fe","d4e5d3a4.f7d2a","ef2974ee.4f2238"]]},{"id":"d3b95c8d.fadf","type":"debug","z":"e4eca54c.efd4f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"d53ad064.619fe","type":"ui_template","z":"e4eca54c.efd4f8","group":"c7d4ba9c.dc9618","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"d4e5d3a4.f7d2a","type":"ui_audio","z":"e4eca54c.efd4f8","name":"","group":"c7d4ba9c.dc9618","voice":"Google UK English Male","always":"","x":800,"y":280,"wires":[]},{"id":"4cd3ce9a.ccc73","type":"ui_text","z":"e4eca54c.efd4f8","group":"c7d4ba9c.dc9618","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"ef2974ee.4f2238","type":"ui_text","z":"e4eca54c.efd4f8","group":"c7d4ba9c.dc9618","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"c7d4ba9c.dc9618","type":"ui_group","z":"","name":"UI","tab":"d87e13f6.b3bd","order":1,"disp":true,"width":"6","collapse":false},{"id":"d87e13f6.b3bd","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]